section{
  background-color: #000;
}

.coming-soon-img {
  position: relative;
  margin: auto;
  width: 25%;
  display: block;
  padding-top: 15%;
}

.coming-soon-title {
  color: #b19a54;
  margin: auto;
  text-align: center;
}
