<section>
  <img class="coming-soon-img" src="../../assets/img/MF_nc_logo_gold.png" alt="">
  <h1 class="coming-soon-title">Coming soon...</h1>

  <h2>search meanwhile for some Metallica lyrics caus' im a big Metallica fan as you can see on my Logo:</h2>

  <mat-form-field>
    <input title="search" [(ngModel)]="term" type="text" matInput placeholder="Search">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSearch()">Search</button>

  <div [innerHtml]="lyrics">
  </div>

</section>
